
.AdminAddUserButton{
    background-color: white;
    border-radius: 0.375rem;
    display: flex;
    justify-content: end;
}

.AddUserRightMiddle , .AddUserRightTop {
    background-color: white;
    margin-bottom: 15px;
    border-radius: 0.375rem;
}

.AddUserRightBottom{
    flex: 1;
}