.AdminDashboardTopCardsRow{
  display: flex;
  justify-content: end;
}

.AdminDashboardCards{
  display: flex;
  justify-content: center;
  width: 100%;
}

.cardMain {
font-size: larger;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 20px; */
  
    border: 1px solid rgba(255, 255, 255, .25);
    /* border-radius: 0.375rem; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    /* backdrop-filter: blur(15px); */
  }
  
.cardFooter {
    /* font-size: 0.65em; */
    text-decoration: underline;
    color: #446;
  }
  