/* .parent-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    height: 200px;
}

.child-div {
    height: 50px;
    background-color: aliceblue;
    margin-bottom: 5px;
}

.child-div-special{
    background-color: red;
    flex: 1;
} */
