.AdminDashboardTop{
    display: flex;
    overflow: hidden;
    /* background:
    url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
    center / cover no-repeat fixed; */
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.SidebarAdminPage{
    flex: 1;
}

/* .SidebarAdminTop{
    flex: 1;
    max-width: 300px;
} */

.AdminDashboardContentsTop{
    flex:4 ;
    margin-top: 50px;
}
