.SidebarAdminTop{
    height: 100%;
    min-height: 100vh;
    border-right: 2px solid #d3cccc;
    min-width: 250px;
    padding: 15px 10px;
    background-color: white;
    border-radius: 0.375rem;
}

/* .SidebarItemListTop{
    height: 70vh;
} */

.SidebarItemList{
    list-style: none;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.SidebarItemListItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
    padding: 10px 0px;
}

.SideBarListItemsText{
    margin: 0;
}

.AdminLogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.AdminDashboardLogout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* padding: 0px 10px; */
    font-size: larger;
    font-weight: bold;
}

.AdminName{
    opacity: 0.8;
    text-decoration: wavy;
    text-decoration: underline;
}