.landingPageTopSection{
    height: 50vh;
    background-color: rgb(49, 46, 54);
    color: white;
}

.topParagraph{
    font-size: large;
    font-weight: 400;
}

.btnAdmin{
    margin-right: 4px;
}

.landingPageMiddleSection{
    height: 30vh;
}

.buttonMiddle{
    position: relative;
    /* left: 120px; */
    right: -90px;
}

.cardBody{
    position: relative;
    top: -35px;
}

.middleRow{
    position: relative;
    top: -25px;
    /* right: 10px; */
}

.cardStyling{
    border: 0px !important;
    height: calc(30vh + 50px ) !important;
    /* border: 1px solid black !important; */
}

.cardImageTop{
    height: calc(15vh + 15px)  !important;
}

.cardSubtext{
    color: gray;
}

.landingPageBottomSection{
    height: 20vh;
    background-color: darkgray;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px !important;
}