.AdminUserAddFormMain{
    background-color: white;
    border-radius: 0.375rem;
}

.AdminUserAddFormMain .AdminUserAddDivs input{
    border: none;
    border: 1px solid rgb(223, 219, 219);
    padding: 10px;
    border-radius: 0.375rem;
    width: 100%;
}

.AdminUserAddFormMain .AdminUserAddDivs button{
    /* border: none;
    border: 1px solid rgb(223, 219, 219);
    padding: 10px;
    border-radius: 0.375rem;
    width: 100%; */
    border: none;
    border: 1px solid rgb(223, 219, 219);
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(80, 76, 76);
    border-radius: 0.375rem;
}

.specialButton{
    border: none;
    border: 1px solid rgb(223, 219, 219);
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(80, 76, 76);
    border-radius: 0.375rem;
    background-color: rgb(50, 155, 200) !important;
    /* opacity: 0.5; */
    color: white !important;
}

.AdminUserAddDivs input::placeholder{
    color: #999; /* Change the color */
    font-size: 14px; /* Change the font size */
}
